html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #f4f4f4;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

a,
p,
label {
  font-family: "DM Sans", sans-serif;
}

.projectlink {
  text-decoration: none !important;
}

.project {
  background: rgb(34, 40, 49);
  background: -moz-linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  background: linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222831",endColorstr="#393e46",GradientType=1);

  border-radius: 3px;
  padding: 0.5rem;
  margin: 2rem;
  margin-left: 0;
}

.issue {
  background: rgb(34, 40, 49);
  background: -moz-linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  background: linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222831",endColorstr="#393e46",GradientType=1);

  border-radius: 3px 0px 0px 3px;
  padding: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0;
}
.issue-solved {
  border-radius: 0px 15px 15px 0px;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0;
  background: #41cb45;
}

.issue-unsolved {
  border-radius: 0px 15px 15px 0px;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0;
  background: #cc1611;
}

.fontw {
  color: #eeeeee;
  text-decoration: none;
}

.white-font {
  color: #eeeeee;
  margin: 0;
  padding: 0;
}

.vertical-center-justify-end {
  justify-content: end;
  display: flex;
  align-items: center;
  padding: 0;
}

.vertical-center-justify-center {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.deletemargin {
  margin: 5px;
  margin-right: 15px;
}

.remove-padding-right {
  padding-right: 0;
}

.login {
  border-radius: 6px;
  padding: 1rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 20rem;
  width: 20rem;
  background: rgb(34, 40, 49);
  background: -moz-linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  background: linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222831",endColorstr="#393e46",GradientType=1);
}

.register {
  border-radius: 6px;
  padding: 1rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 25rem;
  width: 20rem;
  background: rgb(34, 40, 49);
  background: -moz-linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  background: linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222831",endColorstr="#393e46",GradientType=1);
}

.create-project {
  color: #f4f4f4;
  display: flex;
  border-radius: 6px;
  padding: 1rem;
  margin: 3rem;
  height: 10rem;
  background: rgb(34, 40, 49);
  background: -moz-linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  background: linear-gradient(
    138deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222831",endColorstr="#393e46",GradientType=1);
}

.end-justify {
  display: flex;
  justify-content: end;
}
