body {
  margin-left: 11rem;
  margin-top: 2rem;
}

h1,
h2 {
  font-family: "Josefin Sans", sans-serif;
}

a,
p {
  font-family: "DM Sans", sans-serif;
}

.sidenavbar {
  height: 100%;
  width: 10rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222831;
  overflow-x: hidden;
  padding-top: 20px;
  padding: 1rem;
}

.sidelink {
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none !important;
  font-size: 1rem;
  color: #eeeeee;
  display: block;
}

.sidelink:hover {
  color: #eeeeee;
  background-color: #2bced6;
  border-radius: 2px;
}

.brand {
  color: #eeeeee;
  font-size: 2rem;
  text-decoration: none !important;
}

.brand:hover {
  color: white;
}

.projectlink {
  text-decoration: none !important;
}

.project {
  background-color: #393e46;
  border-radius: 2px;
  padding: 0.5rem;
}

.fontw {
  color: #eeeeee;
  text-decoration: none;
}

.fontw:hover {
  text-decoration: none !important;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.btn-delete {
  background: #a30500;
  background-image: -webkit-linear-gradient(top, #a30500, #570d0a);
  background-image: -moz-linear-gradient(top, #a30500, #570d0a);
  background-image: -ms-linear-gradient(top, #a30500, #570d0a);
  background-image: -o-linear-gradient(top, #a30500, #570d0a);
  background-image: linear-gradient(to bottom, #a30500, #570d0a);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 100;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn-delete:hover {
  background: #a30500;
  text-decoration: none;
}

@media screen and (max-height: 450px) {
  .sidenavbar {
    padding-top: 15px;
  }
  .sidelink {
    font-size: 18px;
  }
}
